/* VARIABLES */

:root {
    --main-font-family: "Public Sans", "Arial", sans-serif;
    --main-text-color: #33323d;
    --main-bg-color: #fafafa;
    --main-font-size: 16px;
    --main-font-weight: 400;
    --main-line-height: 30px;
    --active-link-color: #5fb4a2;
}