/* Header */

.site-header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 0 40px;
}

.logo__img {
    width: 60px;
    height: 32px;
}

.sitenav {
    position: fixed;
    top: 88px;
    right: 32px;
    z-index: 1;
    display: none;
    width: 223px;
    background-color: #33323d;
    animation-name: slide;
    animation-duration: 1s;
    @keyframes slide {
        0% {
            transform: translateX(100%);
        }
        100% {
            transform: translateX(0);
        }
    }
    &-open {
        display: block;
    }
}

.sitenav__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include list-unstyle;
    padding: 40px 20px;
}

.sitenav__item {
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ffffff;
    &:not(:last-child) {
        margin-bottom: 32px;
    }
}

.sitenav__link {
    @include link-unstyle;
    color: inherit;
}

.site-header__btn {
    display: inline-block;
    width: 24px;
    height: 13px;
    @extend %button-unstyle;
    background-image: url("../images/burger.svg");
    @include bg(no-repeat,
    center);
}

.site-header__btn-close {
    background-image: url("../images/x-btn.svg");
}

@include mobile-first(576px) {
    .sitenav {
        position: static;
        display: block;
        width: auto;
        background-color: transparent;
        animation: none;
    }
    .sitenav__list {
        flex-direction: row;
        padding: 0;
    }
    .sitenav__item {
        color: var(--main-text-color);
        &:not(:last-child) {
            margin-right: 42px;
            margin-bottom: 0;
        }
    }
    .sitenav__link--active {
        color: #5fb4a2;
    }
    .site-header__btn {
        display: none;
    }
}

@include mobile-first(768px) {
    .site-header__inner {
        padding: 64px 0 47px;
    }
}

@include mobile-first(992px) {
    .site-header__inner {
        padding: 64px 0 54px;
    }
}