// ASIDE START
.site-aside{
  padding-bottom: 150px;
  &__wrapper{
    display: flex;
    align-items: center;
  }
  &__title{
    margin: 0;
    margin-right: 25px;
    width: 100%;
    max-width: 350px;
    font-family: 'Ibarra Real Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;
    letter-spacing: -0.357143px;
    color: #33323D;
  }
  &__line{
    width: 534px;
    height: 1px;
    background: #33323D;
    mix-blend-mode: normal;
    opacity: 0.15;
    margin-right: 20px;
  }
  
  &__link{
    padding: 17px 34px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #33323D;
    text-decoration: none;
    border: 1px solid #33323D;
  }
}
// ASIDE END